body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #2b2e4a;
}

#logo {
  max-width: 100%;
  max-height: 250px;
}

#image-section {
  display: flex;
  justify-content: center;
}

#logoImage {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
}

.hide {
  display: none;
}

#heading-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: #2b2e4a;
  font-style: italic;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.1rem;
  max-width: 300px;
  height: 60px;
  margin: auto;
  text-align: center;
  color: #2b2e4a;
}

#search-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #3e426a;
  height: 80px;
}

#homelogo {
  position: relative;
top: 10px; right: 400px;
z-index: -1;
}

#food-input {
  align-self: center;
  font-size: 1.2rem;
  min-width: 150px;
  text-align: center;
  height: 50px;
}


#recipe-button {
  background-color: #cbbe6a;
  color: #2b2e4a;
  font-size: 1.2rem;
  padding: 0, 20px, 0, 20px;
  height: 57px;
  align-self: center;
}

#recipe-button:hover {
  background-color: #d8c690;
  transition: 0.5s;
  cursor: pointer;
}

#bread-pun-button {
  background-color: #cbbe6a;
  color: #2b2e4a;
  font-size: 1.1rem;
  align-self: center;
  min-width: 100px;
  min-height: 40px;
  padding: 10px;
  border-radius: 20px;
}

#bread-pun-button:hover {
  background-color: #d8c690;
  transition: 0.5s;
  cursor: pointer;
}

#recipe-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.recipe-item {
  padding: 10px;
  margin: 10px;
}

.image {
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 200px;
}

.information {
  max-width: 260px;
  text-align: center;
  font-size: 0.9rem;
  margin: auto;
  color: #2b2e4a;
}

.link {
  width: 200px;
  display: flex;
  justify-content: center;
  margin: auto;
  color: #3e426a;
  font-size: 0.9rem;
  padding-top: 20px;
}

.image:hover {
  transform: scale(1.1);
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.link:hover {
  transform: scale(1.1);
  animation-duration: 500ms;
  animation-fill-mode: backwards;
  color: #cbbe6a;
}

#logo-section {
  display: flex;
  justify-content: flex-start;
}

#ingredients {
  font-weight: 100;
  min-height: 40px;
}

#meal-type {
  margin-top: 10px;
  font-weight: bold;
}

#bread-pun {
  margin-top: 20px;
}

#filter-choice {
  margin-bottom: 10px;
}

#home-logo {
  z-index: -1;
  margin-bottom: -80px;
  display: flex;
  
}

#home-logo:hover {
  transform: scale(1.1);
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 600px) {
  #home-logo {
    display: none;
  }
}
